<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lcshidai.lc">

    <!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 添加可以向外拨打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 使用联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <!-- 短信读写权限 -->
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- TalkingData 所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 个推SDK权限配置开始 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 支持iBeancon 需要蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 支持个推3.0 电子围栏功能 -->
    <!-- 自定义权限 -->
    <uses-permission android:name="getui.permission.GetuiService.${applicationId}" />

    <permission
        android:name="getui.permission.GetuiService.${applicationId}"
        android:protectionLevel="normal" />

    <application
        android:name="com.lcshidai.lc.AtrApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name="com.lcshidai.lc.ui.LoadingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeStartPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>

                <!-- or you can use deep linking like -->
                <data
                    android:host="lcshidai.finance"
                    android:scheme="lcshidaiapp" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.lcshidai.lc.ConfigActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

            <!--<intent-filter>-->

                <!--&lt;!&ndash; or you can use deep linking like &ndash;&gt;-->
                <!--<data-->
                    <!--android:host="lcshidai.finance"-->
                    <!--android:scheme="lcshidaiapp" />-->

                <!--<action android:name="android.intent.action.VIEW" />-->

                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name="com.lcshidai.lc.ui.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!--
            	AuthorizeAdapter表示一个继承自cn.sharesdk.framework.authorize.AuthorizeAdapter
            	的类，这个类可以监听到页面的生命周期，也可以获取授权页面的各种UI控件。 
            	开发者可以通过继承AuthorizeAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。
            -->
            <!-- <meta-data android:name="AuthorizeAdapter" android:value="cn.sharesdk.demo.MyAdapter" /> -->


            <!--
            	QZoneWebShareAdapter表示一个继承自cn.sharesdk.tencent.qzone.QZoneWebShareAdapter
            	的类，这个类可以监听到页面的生命周期，也可以获QQ空间网页分享权页面的各种UI控件。 
            	开发者可以通过继承QZoneWebShareAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。
            -->
            <!-- <meta-data android:name="QZoneWebShareAdapter" android:value="cn.sharesdk.demo.MyQZoneWebShareAdapter" /> -->


            <!--
            	Dropbox的SSO功能需要在此处添加一个对ACTION_VIEW事件的过滤器，其中的scheme是
            	“db-”前缀再开发者应用的加上appKey。如果此过滤器不设置，则不能完成SSO功能授权
            -->
            <!-- <intent-filter> -->
            <!-- <data android:scheme="db-7janx53ilz11gbs" /> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->
            <!-- <category android:name="android.intent.category.BROWSABLE"/> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- </intent-filter> -->
        </activity>

        <!-- 微信回调activity -->
        <activity
            android:name="com.lcshidai.lc.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.lcshidai.lc.ui.WelcomeGuideActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--
             <activity
            android:name=".ui.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        -->

        <activity
            android:name="com.lcshidai.lc.ui.AgreementActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!-- 客服 -->
        <activity
            android:name="com.lcshidai.lc.ui.more.HelpActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!-- 常见问题 -->
        <!-- 广告展示的web页面 -->
        <activity
            android:name="com.lcshidai.lc.ui.MainWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!-- 理财 -->
        <activity
            android:name="com.lcshidai.lc.ui.finance.ManageFinaceInfoListReActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.finance.ManageFinanceActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.finance.InvestSuccessActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.finance.FinaceMovementActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.finance.FinanceFilterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.finance.FinanceFilterResultActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        //
        <!-- 转让市场 -->


        <!-- 项目 -->
        <activity
            android:name="com.lcshidai.lc.ui.project.ProjectActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <!-- 账户 -->
        <activity
            android:name="com.lcshidai.lc.ui.account.AccountActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!-- 理财yu -->
        <activity
            android:name="com.lcshidai.lc.ui.account.FinancialCashActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.GoldFinanceRecordActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.ManageFinanceListInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.ManageFinanceListDetailsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.UserNameAuthActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.UserMailAuthActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.UserMailUpdaterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.UserMobileAuthActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.UserMobileUpdaterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.pwdmanage.UserPwdManageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.UserPwdUpdaterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.UserBankListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.UserBankAddActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.BankListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.UserCancelBindingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.RepaymentListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.RechargeListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.RechargeInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.WithdrawalsListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.WithdrawalsInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.WithdrawalsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.lcshidai.lc.ui.account.BalancePaymentsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.SelectBankCardActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.AccountBankSearchActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.CityListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.SafeQuestionActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.SafeQuestionSelectActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.AccountCenterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.AccountSettingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.UserPayPwdSetActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.pwdmanage.GesturePwdActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.pwdmanage.UserMobilePayPwdActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.pwdmanage.UserMobileCodeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.pwdmanage.PayPwdChannelVerifyActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.pwdmanage.PayPwdGeneralActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.pwdmanage.PayPwdResetShowActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.UserPayPwdFirstSetActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.UserPayPwdSecondSetActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.MyRewardActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.cashout.EcwSmsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.cashout.CashOutActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <!-- 更多 -->
        <activity
            android:name="com.lcshidai.lc.ui.DiscoveryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.more.DynamicInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.more.InviteActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <!-- 手势密码 -->
        <activity
            android:name="com.lcshidai.lc.ui.SettingGestureLockActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 手势登陆 -->
        <activity
            android:name="com.lcshidai.lc.ui.GestureLoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 登录 -->
        <activity
            android:name="com.lcshidai.lc.ui.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <!-- 註冊忘記密碼 -->
        <activity
            android:name="com.lcshidai.lc.ui.account.user.ForgetPasswordFirstActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.user.ForgetPasswordGeneralActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.user.ForgetPasswordChannelActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.user.ForgetPasswordChannelVerifyActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.UserRegisterFirActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.bdpush.AlarmDialogActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/style_loading_dialog" />
        <!-- 变现 -->
        <activity
            android:name="com.lcshidai.lc.ui.transfer.CashActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.transfer.CashConfirmActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.transfer.CashSuccessActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <!-- 预约功能 -->
        <activity
            android:name="com.lcshidai.lc.ui.account.bespeak.BespeakInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.bespeak.BespeakApplyActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.lcshidai.lc.ui.account.bespeak.BespeakAreaActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.bespeak.BespeakApplySuccessActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.MessageCentreActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.ManageFinanceListProtocol"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.finance.ManageFinanceXXDSActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.finance.ManageFinaceInfoCountActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.finance.FinanceHongBaoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.finance.JxqActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.MessageDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.ChangeUsernameActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.finance.FinanceProjectDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.WithdrawSuccessActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.cashout.CashOutSuccessActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.cashout.CashOutFailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.finance.MaterialActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.RegisterSuccessActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!-- yq付 -->


        <!-- 消息理财 -->
        <activity
            android:name="com.lcshidai.lc.ui.newfinan.NewFinanceActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.newfinan.QualificationsAuthenticationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.newfinan.InvestorAuthenticationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.UserRegisterSecActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.lcshidai.lc.ui.ImageVerifyCodeRegisterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 点击推送通知的广播 -->
        <!-- 注册更新包下载完后点击通知的广播 -->
        <receiver
            android:name="com.lcshidai.lc.bdpush.UpdateDownloadReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yrz.trj.action.UpdateDownloadNotificationClickReciever" />
            </intent-filter>
        </receiver>

        <!-- 测试环境 -->
        <meta-data
            android:name="api_key"
            android:value="Xic5PiRGaZvahhp0XYGo25IA" />
        <!-- 友盟统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="598438d6717c19314800039e" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="UMENG_CHANNEL_VALUE" />
        <!-- TalkingData 统计 -->
        <meta-data
            android:name="TD_APP_ID"
            android:value="7B62D57B68F143369B6E6F6CA40888BB" />
        <meta-data
            android:name="TD_CHANNEL_ID"
            android:value="${TALKING_DATA_CHANNEL_VALUE}" />
        <!-- 显示FirstActivity -->
        <meta-data
            android:name="show_first_version"
            android:value="30" />

        <!-- 个推SDK配置开始 -->
        <!-- 配置的第三方参数属性 -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="${GETUI_APP_ID}" />
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="${GETUI_APP_KEY}" />
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="${GETUI_APP_SECRET}" />

        <!-- 配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.service.message" />
            </intent-filter>
        </service>

        <receiver android:name="com.igexin.sdk.PushReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
                <!-- 以下三项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.igexin.download.DownloadService"
            android:process=":pushservice" />

        <receiver android:name="com.igexin.download.DownloadReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.igexin.download.DownloadProvider"
            android:authorities="downloads.${applicationId}"
            android:exported="true"
            android:process=":pushservice" />

        <activity
            android:name="com.igexin.sdk.GActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 个推配置第三方Receiver -->
        <!-- 配置第三方Receiver -->
        <receiver
            android:name="com.lcshidai.lc.getui.PushNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.lcshidai.lc.getui.NotificationClickReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yrz.trj.action.PushNotificationClickAction" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.lcshidai.lc.getui.DemoPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice" />
        <service android:name="com.lcshidai.lc.getui.DemoIntentService" />
        <!-- 个推SDK配置结束 -->

        <activity
            android:name="com.lcshidai.lc.ui.ModifyPreLeftPhoneNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.CunGuanAccountActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.CapitalTotalViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.finance.InvestSmsConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.account.MyScoreActivity"
            android:screenOrientation="portrait" />

        <!-- 浙商 -->
        <receiver android:name="com.lcshidai.lc.getui.ZheShangBroadcastReceiver">
            <intent-filter>
                <action android:name="com.zsBank.czfinancial.broadcastReceiver" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.lcshidai.lc.ui.project.RiskTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.project.PurchaseNeedKnowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.project.FundAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.project.FundManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.project.InvestAboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.project.FundProjectDetailActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.project.RiskControlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.project.PropertyConfigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.project.MyInvestAppointmentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.project.InvestAppointmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.project.AddedIntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.project.FundInnerDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.project.PublicShowMaterialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.project.PdfViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lcshidai.lc.ui.PublicImageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.finance.FinanceProjectBorrowerActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>