<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lcshidai.lc"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 添加可以向外拨打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <!-- 使用联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <!-- 短信读写权限 -->
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- TalkingData 所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 个推SDK权限配置开始 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- 支持iBeancon 需要蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- 支持个推3.0 电子围栏功能 -->
    <!-- 自定义权限 -->
    <uses-permission android:name="getui.permission.GetuiService.${applicationId}"/>

    <permission
        android:name="getui.permission.GetuiService.${applicationId}"
        android:protectionLevel="normal"/>

    <application
        android:name=".AtrApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.LoadingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeStartPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>

                <!-- or you can use deep linking like -->
                <data
                    android:host="lcshidai.finance"
                    android:scheme="lcshidaiapp"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ConfigActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->


            <!-- <intent-filter> -->


            <!-- &lt;!&ndash; or you can use deep linking like &ndash;&gt; -->
            <!-- <data -->
            <!-- android:host="lcshidai.finance" -->
            <!-- android:scheme="lcshidaiapp" /> -->


            <!-- <action android:name="android.intent.action.VIEW" /> -->


            <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!--
            	AuthorizeAdapter表示一个继承自cn.sharesdk.framework.authorize.AuthorizeAdapter
            	的类，这个类可以监听到页面的生命周期，也可以获取授权页面的各种UI控件。 
            	开发者可以通过继承AuthorizeAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。
            -->
            <!-- <meta-data android:name="AuthorizeAdapter" android:value="cn.sharesdk.demo.MyAdapter" /> -->


            <!--
            	QZoneWebShareAdapter表示一个继承自cn.sharesdk.tencent.qzone.QZoneWebShareAdapter
            	的类，这个类可以监听到页面的生命周期，也可以获QQ空间网页分享权页面的各种UI控件。 
            	开发者可以通过继承QZoneWebShareAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。
            -->
            <!-- <meta-data android:name="QZoneWebShareAdapter" android:value="cn.sharesdk.demo.MyQZoneWebShareAdapter" /> -->


            <!--
            	Dropbox的SSO功能需要在此处添加一个对ACTION_VIEW事件的过滤器，其中的scheme是
            	“db-”前缀再开发者应用的加上appKey。如果此过滤器不设置，则不能完成SSO功能授权
            -->
            <!-- <intent-filter> -->
            <!-- <data android:scheme="db-7janx53ilz11gbs" /> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->
            <!-- <category android:name="android.intent.category.BROWSABLE"/> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- </intent-filter> -->
        </activity>

        <!-- 微信回调activity -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".ui.WelcomeGuideActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <!--
             <activity
            android:name=".ui.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        -->

        <activity
            android:name=".ui.AgreementActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <!-- 客服 -->
        <activity
            android:name=".ui.more.HelpActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <!-- 常见问题 -->
        <!-- 广告展示的web页面 -->
        <activity
            android:name=".ui.MainWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <!-- 理财 -->
        <activity
            android:name=".ui.finance.ManageFinaceInfoListReActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.finance.ManageFinanceActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.finance.InvestSuccessActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.finance.FinaceMovementActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.finance.FinanceFilterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.finance.FinanceFilterResultActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        //
        <!-- 转让市场 -->


        <!-- 项目 -->
        <activity
            android:name=".ui.project.ProjectActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <!-- 账户 -->
        <activity
            android:name=".ui.account.AccountActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <!-- 理财yu -->
        <activity
            android:name=".ui.account.FinancialCashActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.GoldFinanceRecordActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.ManageFinanceListInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.ManageFinanceListDetailsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.UserNameAuthActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.UserMailAuthActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.UserMailUpdaterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.UserMobileAuthActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.UserMobileUpdaterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.pwdmanage.UserPwdManageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.UserPwdUpdaterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.UserBankListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.UserBankAddActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.BankListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.UserCancelBindingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.RepaymentListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.RechargeListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.RechargeInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.WithdrawalsListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.WithdrawalsInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.WithdrawalsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.account.BalancePaymentsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.SelectBankCardActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.AccountBankSearchActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.CityListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.SafeQuestionActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.SafeQuestionSelectActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.AccountCenterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.AccountSettingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.UserPayPwdSetActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.pwdmanage.GesturePwdActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.pwdmanage.UserMobilePayPwdActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.pwdmanage.UserMobileCodeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.pwdmanage.PayPwdChannelVerifyActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.pwdmanage.PayPwdGeneralActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.pwdmanage.PayPwdResetShowActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.UserPayPwdFirstSetActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.UserPayPwdSecondSetActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.MyRewardActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.cashout.EcwSmsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.cashout.CashOutActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <!-- 更多 -->
        <activity
            android:name=".ui.DiscoveryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.more.DynamicInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.more.InviteActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <!-- 手势密码 -->
        <activity
            android:name=".ui.SettingGestureLockActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <!-- 手势登陆 -->
        <activity
            android:name=".ui.GestureLoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <!-- 登录 -->
        <activity
            android:name=".ui.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <!-- 註冊忘記密碼 -->
        <activity
            android:name=".ui.account.user.ForgetPasswordFirstActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.user.ForgetPasswordGeneralActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.user.ForgetPasswordChannelActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.user.ForgetPasswordChannelVerifyActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.UserRegisterFirActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".bdpush.AlarmDialogActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/style_loading_dialog"/>
        <!-- 变现 -->
        <activity
            android:name=".ui.transfer.CashActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.transfer.CashConfirmActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.transfer.CashSuccessActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <!-- 预约功能 -->
        <activity
            android:name=".ui.account.bespeak.BespeakInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.bespeak.BespeakApplyActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.account.bespeak.BespeakAreaActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.bespeak.BespeakApplySuccessActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.MessageCentreActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.ManageFinanceListProtocol"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.finance.ManageFinanceXXDSActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.finance.ManageFinaceInfoCountActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.finance.FinanceHongBaoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.finance.JxqActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.MessageDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.ChangeUsernameActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.finance.FinanceProjectDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.WithdrawSuccessActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.cashout.CashOutSuccessActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.cashout.CashOutFailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.finance.MaterialActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.RegisterSuccessActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <!-- yq付 -->


        <!-- 消息理财 -->
        <activity
            android:name=".ui.newfinan.NewFinanceActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.newfinan.QualificationsAuthenticationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.newfinan.InvestorAuthenticationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.UserRegisterSecActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.ImageVerifyCodeRegisterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!-- 点击推送通知的广播 -->
        <!-- 注册更新包下载完后点击通知的广播 -->
        <receiver
            android:name=".bdpush.UpdateDownloadReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yrz.trj.action.UpdateDownloadNotificationClickReciever"/>
            </intent-filter>
        </receiver>

        <!-- 测试环境 -->
        <meta-data
            android:name="api_key"
            android:value="Xic5PiRGaZvahhp0XYGo25IA"/>
        <!-- 友盟统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="598438d6717c19314800039e"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="UMENG_CHANNEL_VALUE"/>
        <!-- TalkingData 统计 -->
        <meta-data
            android:name="TD_APP_ID"
            android:value="7B62D57B68F143369B6E6F6CA40888BB"/>
        <meta-data
            android:name="TD_CHANNEL_ID"
            android:value="${TALKING_DATA_CHANNEL_VALUE}"/>
        <!-- 显示FirstActivity -->
        <meta-data
            android:name="show_first_version"
            android:value="30"/>

        <!-- 个推SDK配置开始 -->
        <!-- 配置的第三方参数属性 -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="${GETUI_APP_ID}"/>
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="${GETUI_APP_KEY}"/>
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="${GETUI_APP_SECRET}"/>

        <!-- 配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.service.message"/>
            </intent-filter>
        </service>

        <receiver android:name="com.igexin.sdk.PushReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="com.igexin.sdk.action.refreshls"/>
                <!-- 以下三项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <service
            android:name="com.igexin.download.DownloadService"
            android:process=":pushservice"/>

        <receiver android:name="com.igexin.download.DownloadReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <provider
            android:name="com.igexin.download.DownloadProvider"
            android:authorities="downloads.${applicationId}"
            android:exported="true"
            android:process=":pushservice"/>

        <activity
            android:name="com.igexin.sdk.GActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- 个推配置第三方Receiver -->
        <!-- 配置第三方Receiver -->
        <receiver
            android:name=".getui.PushNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".getui.NotificationClickReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yrz.trj.action.PushNotificationClickAction"/>
            </intent-filter>
        </receiver>

        <!-- 个推SDK配置结束 -->

        <activity
            android:name=".ui.ModifyPreLeftPhoneNumberActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.CunGuanAccountActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.CapitalTotalViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.finance.InvestSmsConfirmActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.account.MyScoreActivity"
            android:screenOrientation="portrait"/>

        <!-- 浙商 -->
        <receiver android:name=".getui.ZheShangBroadcastReceiver">
            <intent-filter>
                <action android:name="com.zsBank.czfinancial.broadcastReceiver"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.project.RiskTestActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.project.PurchaseNeedKnowActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.project.FundAccountActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.project.FundManagerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.project.InvestAboutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.project.FundProjectDetailActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.project.RiskControlActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.project.PropertyConfigActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.project.MyInvestAppointmentListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.project.InvestAppointmentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.project.AddedIntroActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.project.FundInnerDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.project.PublicShowMaterialActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.project.PdfViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.PublicImageViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.finance.FinanceProjectBorrowerActivity"
            android:screenOrientation="portrait"/>

        <!-- 配置个推SDK核心服务 -->
        <service
            android:name=".getui.GtPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice">
        </service>
        <!-- 用户自定义服务继承自GTIntentService,作为SDK与APP桥梁服务,用来接收各种消息和命令回复 -->
        <service android:name=".getui.GtIntentService"/>

        <activity
            android:name=".ui.AgreementTextActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>